<% layout("layouts/boilerplate") %>
<body>
    <h1>All Listings</h1><br>
    <!-- <form action="/listings/new" method="GET">
        <button>
            Create New Listing
        </button>
        <br><br>
    </form> -->
    <ul>
    <% for(let listing of allListings) { %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>&nbsp;


    <% } %> 
    </ul>
</body>
